.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-menu ul {
  height: 86%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu a {
  height: 100%;
  font-size: 1.3em;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 4px 25px;
  transition: 0.3s ease-in-out;
}

.nav-menu a:hover {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .nav-menu ul {
    height: auto;
  }
  
  .nav-menu li {
    width: 100%;
    height: auto;
    margin: 0.5em 0;
  }
  
  .nav-menu a {
    font-size: 1em;
    padding: 0.5em 1em;
  }
  
  .nav-menu a:hover {
    font-size: 1.3em;
  }
}
