.opening {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: url("../images/background_work.jpg");
  background-position: 30% 45%;
  background-size: cover;
}

.container-opening .static {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 6vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Rajdhani', sans-serif;
}

.container-opening .dinamic {
  line-height: 8vh;
  height: 8vh;
  overflow: hidden;
  padding-left: 3ch;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13.5ch;
  }
}

@keyframes blink-caret {
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
  }
}

.dinamic li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 8vh;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  animation: slide 8s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -8vh;
  }
}

.dinamic li span {
  position: relative;
  overflow: hidden;
  border-right: 4px solid white;
}

.typing-animation {
  animation: typing 4s steps(16) infinite normal both,
  blink-caret 500ms infinite normal;
}

@media only screen and (max-width: 1080px) {
  .container-opening .static {
    font-size: 3.9vh;
  }
  
  .container-opening .dinamic {
    line-height: 4vh;
    height: 4vh;
    padding-left: 0ch;
  }

  .dinamic li span {
    font-size: 5vh;
    position: relative;
    overflow: hidden;
  }

  @keyframes slide {
    100% {
      top: -4vh;
    }
  }

  .typing-animation {
    animation: typing 4s steps(16) infinite normal both,
    blink-caret 500ms infinite normal;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 12.6ch;
    }
  }

  .container-opening {
    width: 80%;
  }
}