.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: url("../images/background_work.jpg");
  background-position: 30% 45%;
  background-size: cover;
}

.container {
  display: inline-flex;
}

.container .estatico {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 6vh;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Rajdhani', sans-serif;
}

.container .dinamico {
  line-height: 8vh;
  height: 8vh;
  overflow: hidden;
  padding-left: 3ch;
}

.dinamico li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 8vh;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  animation: slide 5s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -8vh;
  }
}

.dinamico li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 2px solid white;
  animation: typing 2.5s steps(15) infinite;
  background-color: black;
}

.dinamico li span {
  position: relative;
}

@keyframes typing {
  100% {
    left: 120%;
    margin: 0 -1ch 0 1ch;
  }
}