.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url("../images/background_work.jpg");
  background-position: 30% 45%;
  background-size: cover;
}

.line-title {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 4em;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

.line {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 4em;
  margin: 0 auto;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

.typing-animation {
  animation: typing 4s steps(18) infinite normal both,
  blink-caret 500ms infinite normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12.5ch;
  }
}

@keyframes blink-caret {
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
  }
}