body {
  background-color: #000000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.596);
  font-family: 'Rajdhani', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 1em;
}

main {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}